{% extends 'base.html' %}
{%block content%}
{% import "bootstrap/wtf.html" as wtf %}

<div class="container rounded bg-base mt-5 mb-5">
    <form method="POST">
        {{ form.csrf_token }}
        <div hidden="hidden">
            {{form.id(value=id)}}
        </div>
        {%if answer=="True"%}
            <p> Вы действительно хотите добавить пользователя <a href="/user?id={{userID}}">{{userName}}</a> в поход <a href="/announcement?id={{announcementID}}">{{announcementName}}</a>?</p>
            {{form.accept(class="btn simple_btn text-white ")}}
        {%else%}
            <p> Вы действительно отказать пользователю <a href="/user?id={{userID}}">{{userName}}</a> в участии в походе <a href="/announcement?id={{announcementID}}">{{announcementName}}</a>?</p>
            {{form.decline(class="btn simple_btn text-white ")}}
        {%endif%}
        {{form.cancel(class="btn simple_btn text-white ")}}
    </form>
    
</div>
{%endblock%}