{% import "bootstrap/wtf.html" as wtf %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <title>Главная</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <script>
            $(".sidebar ul li").on('click', function () {
            $(".sidebar ul li.active").removeClass('active');
            $(this).addClass('active');
        });

        $('.open-btn').on('click', function () {
            $('.sidebar').addClass('active');

        });


        $('.close-btn').on('click', function () {
            $('.sidebar').removeClass('active');

        })
    </script>
    <body class="bg-base">
        <div class="main-container d-flex bg-base">
            <div class="row">
                <div class="sidebar d-flex flex-column justify-content-between col-auto min-vh-100" id="side_nav">
                    
                    <div class="mt-4">
                        
                        <ul class="nav navbar nav-pills flex-column mt-2 mt-sm-0" id="menu">
                            <li class="nav-item my-sm-1 my-2">
                                <a href="/main" class="nav-link text-white" aria-current="page">
                                    <i class="fa-solid fa-tent"></i>
                                    <span class="navbar-text ms-2 d-none d-sm-inline">ForRest</span>
                                </a>
                            </li>
                            <li class="nav-item my-sm-1 my-2">
                                <a href="/messages" class="nav-link text-white" aria-current="page">
                                    <i class="fa-regular fa-message"></i>
                                    
                                    <span class="navbar-text ms-2 d-none d-sm-inline">Сообщения</span>
                                </a>
                            </li>
                            <li class="nav-item my-sm-1 my-2">
                                <a href="/travels" class="nav-link text-white" aria-current="page">
                                    <i class="fa-solid fa-earth-americas"></i>
                                    <span class="navbar-text ms-2 d-none d-sm-inline">Мои путешествия</span>
                                </a>
                            </li>
                            <li class="nav-item my-sm-1 my-2">
                                <a href="/notifications" class="nav-link text-white" aria-current="page">
                                    <i class="fa-solid fa-fire"></i>
                                    {%if alarmCount == 0%}
                                        <span class="navbar-text ms-2 d-none d-sm-inline">Уведомления</span>
                                    {%else%}
                                        <span class="navbar-text ms-2 d-none d-sm-inline">Уведомления</span>
                                        <span class="bg-dark rounded-pill text-white py-0 px-2">{{alarmCount}}</span>
                                    {%endif%}
                                </a>
                            </li>
                            
                            <li class="nav-item my-sm-1 my-2">
                                <a href="/headProfile" class="nav-link text-white" aria-current="page">
                                    <i class="fa-solid fa-person-hiking"></i>
                                    <span class="navbar-text ms-2 d-none d-sm-inline">Руководство</span>
                                </a>
                            </li> 
                            <li class="nav-item my-sm-1 my-2">
                                <a href="/profile" class="nav-link text-white" aria-current="page">
                                    <i class="fa-solid fa-mountain-sun"></i>
                                    <span class="navbar-text ms-2 d-none d-sm-inline">{{username}}</span>
                                </a>
                            </li> 
                            <li class="nav-item my-sm-1 my-2">
                                <a href="/logout" class="nav-link text-white" aria-current="page">
                                    <i class="fa-solid fa-person-running"></i>
                                    <span class="navbar-text ms-2 d-none d-sm-inline">Выйти</span>
                                </a>
                            </li> 
                           
                        </ul>
                    </div>
                    <div>
        
                   
        
                </div>
            </div>
            </div>
            <div class="container">
               
                    {%block content%}
                    {%endblock%}
            </div>
        </div>
    </body>
</html>