{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Вход    
{%endblock%}
{%block content%}
<div class="container py=4">
    <h1>Авторизация</h1>
    <form class="form-group" action="" method="post" novalidate> 
        <div class="form-group">
            {{ form.csrf_token }}
            <div class="form-group">
                {{form.email.label(class="form-control-label")}}
                {{form.email(class="form-control")}}
            </div>
            {%for error in form.email.errors%}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {%endfor%}
            <div class="form-group">
                {{form.password.label(class="form-control-label")}}
                {{form.password(class="form-control")}}
            </div>
            {%for error in form.password.errors%}
            <div class="alert alert-danger" role="alert">
                {{error}}
            </div>
            {%endfor%}
            <div class="form-check">
                {{form.remember_me(class="form-check-input")}}
                {{form.remember_me.label(class="form-check-label")}}
            </div>
            {%if note%}
            <div class="alert alert-danger" role="alert">
                {{note}}
            </div>
            {%endif%}
            {{form.submit(class="btn btn-primary")}}
            {{form.signup(class="btn btn-primary")}}
        </div>     
        
    </form>
</div>
{%endblock%}