<div class="container-fluid">
    <div class="row flex-nowrap">
        <div  class="bg-success bg-opacity-25 col-auto col-md-4 col-lg-3 min-vh-100 d-flex flex-column justify-content-between">
            <div  class="bg-success bg-opacity-25 p-2">
                <a class="d-flex text-decoration-none mt-1 align-items-center text-white">
                    <span class="fs-4 ms-1 d-none d-sm-inline">SideMenu</span>
                </a>
                <ul class="nav nav-pills flex-column mt-4">
                    <li class="nav-item py-2 py-sm-0">
                        <a href="#" class="nav-link text-white">
                            <i class="fs-5 fa fa-guage"></i><span class="fs-4 ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                    </li>
                    <li class="nav-item py-2 py-sm-0">
                        <a href="#" class="nav-link text-white">
                            <i class="fs-5 fa fa-house"></i><span class="fs-4 ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li class="nav-item py-2 py-sm-0 mask">
                        <a href="#" class="nav-link text-white">
                            <i class="fs-5 fa fa-table-list"></i><span class="fs-4 ms-1 d-none d-sm-inline">Articles</span>
                        </a>
                    </li>
                    <li class="nav-item py-2 py-sm-0">
                        <a href="#" class="nav-link text-white">
                            <i class="fs-5 fa fa-table-list"></i><span class="fs-4 ms-1 d-none d-sm-inline">Products</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dropdown open p-2">
                <button class="btn border-none dropdown-toggle text-white" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <span class="ms-2">User</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </div>
        </div>
    </div>
    
</div>
