{% extends 'base.html' %}
{%block content%}
{% import "bootstrap/wtf.html" as wtf %}

<div class="container">
    <form class="form-group" action="/newAnnouncement" method="post" novalidate> 
        <h1>Новое объявление</h1>
        {{ form.csrf_token }}
       
        {{wtf.form_field(form.name)}}
        {{wtf.form_field(form.category)}}
        {{wtf.form_field(form.dateBegin)}}
        {{wtf.form_field(form.dateEnd)}}
        {{wtf.form_field(form.dateTillOpen)}}
        {{wtf.form_field(form.map)}}
        {{wtf.form_field(form.info)}} 


        
        <p>
        {{note}}

        </p>
        {% if noteStatus == True %}
            <div class="alert alert-danger">
                {{note}}
            </div>
        {% endif %}
        {{form.submit(class="btn simple_btn text-white profile-button")}}
    </form>
</div>
{%endblock%}
